<script src="scripts/cadastro.js" defer></script>
<h2>Cadastro</h2>

<form class="cadastro" action="/cadastro">

  <label for="nome">Nome de Usuário</label>
  <input id="nome"
         name="nome"
         type="text"
         required>

  <label for="email">Email</label>
  <input id="email"
         name="email"
         type="email"
         placeholder="email@examplo.com"
         required>

  <label for="telefone">Telefone</label>
  <input id="telefone"
         type="text"
         minlength="8"
         name="telefone">

  <label for="cpf">CPF</label>
  <input id="cpf"
         name="cpf"
         type="text"
         placeholder="0000000000"
         pattern="[0-9]{11}"
         minlength="11"
         maxlength="11"
         required>

  <label for="senha">Senha</label>
  <input id="senha"
         name="senha"
         type="password"
         minlength="8"
         required>

  <label for="confirmar_senha">Confirmar Senha</label>
  <input id="confirmar_senha"
         name="confirmar_senha"
         type="password"
         minlength="8"
         required>

  <button class="form_button" type="button">ENVIAR</button>
</form>