<link rel="stylesheet" href="css/error_screen.css">
<script src="scripts/botao_voltar.js" defer></script>
<h2>Ops...</h2>
<h3><%= @message %></h3>
<button class="go-back-button" id="<%= @previous_url %>">Voltar</button>