<script src="scripts/login.js" defer></script>
<h2>Login</h2>
<form class="login" action="/login">
  <label for="email">Email</label>
  <input id="email" name="email" type="email" placeholder="email@examplo.com" required>

  <label for="senha">Senha</label>
  <input id="senha" name="senha" type="password" minlength="8" required>

  <button class="form-button" type="button">Login</button>
</form>


