<ul class="nav-links">
  <li class="nav-item"><a class="nav-link"  id="link_home" href="/">Home</a></li>
  <li class="nav-item"><a class="nav-link"  id="link_cadastro" href="/cadastro">Cadastrar-se</a></li>
  <li class="nav-item"><a class="nav-link"  id="link_login" href="/login">Login</a></li>
</ul>